kaia_kuunal/optimalRoute.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Routes (Route)*>
<!ELEMENT Route (StartingPoint, Destination, Directions)>
<!ELEMENT StartingPoint (Street, City, Region, Country)>
<!ELEMENT Destination (Street, City, Region, Country)>
<!ELEMENT Directions (Drive|Turn)*>

<!ELEMENT Street (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT Region (#PCDATA)>
<!ELEMENT Country (#PCDATA)>
<!ELEMENT Drive (#PCDATA)>
<!ELEMENT Turn (#PCDATA)>

<!ATTLIST Route id ID #REQUIRED>