Tambet/Väljakud.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.w3.org/2001/XMLSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="Väljakud">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Väljak" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nimi" type="xs:string" />
							<xs:element name="Spordialad" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>	
	</xs:element>



</xs:schema>