andrus/xml/Võistluse_statistika/võistluse_statistika.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="voistkonnad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="voistkond" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="voistleja">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="saavutus"/>
									</xs:sequence>
									<xs:attribute type="xs:string" name="id" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="id" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>